@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  width: 100%;
  height: 57px;
  background: #315dfa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 18px;
  -webkit-box-shadow: 0px 4px 4px 0px #0000001a;
          box-shadow: 0px 4px 4px 0px #0000001a;
}

.header__inner {
  margin: 0 auto;
}

.header .title {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  color: #afdce5;
}

.header p {
  font-size: 10px;
  color: #afdce5;
}

.container {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  padding: 0 13px;
}

.banner {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.banner__images {
  width: 100%;
  position: relative;
}

.banner__images .main {
  width: 100%;
  height: 100%;
}

.banner__images .zodiac {
  height: 100%;
  position: absolute;
  top: 0;
  left: 7px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: rotate 3s ease-in-out alternate infinite;
          animation: rotate 3s ease-in-out alternate infinite;
}

.info {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.info__title {
  font-weight: 500;
  color: #315df9;
  font-size: 17px;
  line-height: 22px;
}

.info__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #343b4d;
}

.statusbar {
  margin-top: 35px;
  display: none;
  width: 100%;
  height: 8px;
  background: #f3f4f8;
  -webkit-box-shadow: 0px 4px 2px 0px #0000001a inset;
          box-shadow: 0px 4px 2px 0px #0000001a inset;
  position: relative;
  overflow: hidden;
}

.statusbar__red {
  width: 100%;
  height: 100%;
  background: #b53e42;
  position: absolute;
  left: -100%;
  -webkit-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}

.form-window {
  width: 100%;
  overflow: hidden;
  margin-top: 25px;
}

.form {
  position: relative;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: left 0.2s ease-in-out;
  -o-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

.form__title {
  line-height: 22px;
  padding: 12px 10px;
  text-align: center;
  background: #343b4d;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.form__block {
  min-width: 100%;
}

.form__block.gender .form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 35px;
}

.form__block.gender .form__inputs input,
.form__block.gender .form__inputs label {
  width: auto;
}

.form__block.birthday .form__inputs {
  gap: 10px;
}

.form__block.birthday .form__inputs select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #e4e4e4;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

.form__block.birthday .form__inputs select option {
  padding: 20px 0;
  color: red;
}

.form__block.birthday .form__inputs .warning {
  text-align: center;
  display: none;
  padding: 10px 0;
  width: 110%;
  -webkit-transform: translateX(-5%);
      -ms-transform: translateX(-5%);
          transform: translateX(-5%);
  background: #ffd8cf;
  color: #d0060e;
  font-size: 13px;
  font-weight: 300;
}

.form__block.birthday .signs {
  width: 100%;
  margin: 0 auto;
  gap: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.form__block.birthday .signs img {
  -webkit-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
  z-index: 10;
}

.form__block.birthday .signs p {
  text-align: center;
  width: 100%;
  font-size: 10px;
  position: absolute;
  bottom: -10px;
}

.form .loading {
  min-width: 100%;
}

.form .loading__title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  color: #343b4d;
}

.form .loading__bar {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 42px;
  background: #f3f4f8;
  position: relative;
  overflow: hidden;
}

.form .loading__bar p {
  margin-left: 30px;
  font-size: 14px;
  color: white;
  position: relative;
  z-index: 2;
}

.form .loading__bar-green {
  content: "";
  width: 100%;
  height: 100%;
  background: #419330;
  position: absolute;
  z-index: 1;
  left: calc(-100% + 1 * (100% / 7));
  left: -100%;
}

.form .loading__bar-green.animated {
  -webkit-animation: loading1 3s ease-out forwards, loading2 1s ease-out forwards 3.1s, loading3 2s ease-out forwards 4.1s, loading4 1s ease-out forwards 6.3s, loading5 3s ease-out forwards 7.4s, loading6 4s ease forwards 10.5s, loading7 12s ease-out forwards 14.5s;
          animation: loading1 3s ease-out forwards, loading2 1s ease-out forwards 3.1s, loading3 2s ease-out forwards 4.1s, loading4 1s ease-out forwards 6.3s, loading5 3s ease-out forwards 7.4s, loading6 4s ease forwards 10.5s, loading7 12s ease-out forwards 14.5s;
}

.form .loading__statuses {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.form .loading__statuses p {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
  line-height: 16px;
  font-size: 12px;
  font-weight: 300;
  color: #343b4d;
  gap: 5px;
}

.form .loading__statuses p.done {
  font-weight: bold;
}

.form .loading__statuses p.recording {
  text-transform: uppercase;
  font-weight: bold;
  color: #d0060e;
  animation: blinking 0.6s ease-in alternate-reverse infinite;
}

.form .loading__statuses span {
  display: none;
  color: #419330;
}

.form .result {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.form .result p {
  font-size: 14px;
}

.form .result__title {
  color: #343b4d;
  font-weight: 500;
}

.form .result__congrad {
  color: #315dfa;
  font-weight: 500;
}

.form .result div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.form .result div p {
  color: #343b4d;
  font-weight: 400;
  font-size: 14px;
}

.form .result span {
  color: #343b4d;
  font-size: 18px;
  font-weight: 500;
}

.form__data {
  min-width: 100%;
}

.form__data table {
  word-break: break-all;
  max-width: 100%;
  border: 1px solid;
  border-collapse: collapse;
  font-size: 10px;
}

.form__data table tbody {
  background: white;
}

.form__data table tbody:first-child {
  background: #d2d2d2;
}

.form__data table tbody:first-child td {
  font-weight: bold;
  text-align: center;
}

.form__data table td {
  padding: 5px;
  width: 50%;
  border: 1px solid;
}

.form__data table td:nth-child(2n) {
  text-align: left;
}

.form__inputs {
  background: #f3f4f8;
  padding: 25px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  gap: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 14px;
}

.form__inputs div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.form__inputs input,
.form__inputs label {
  width: 100%;
  position: relative;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.form__inputs input {
  display: none;
}

.form__inputs label {
  padding: 10px 5px;
}

.form__inputs label:hover {
  background: #ebebeb;
  border-radius: 0.3rem;
}

.form__inputs label::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #d6d6d6;
  background: white;
  background: #291a0e;
  -webkit-box-shadow: inset 0 0 0 10px white;
          box-shadow: inset 0 0 0 10px white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -20px;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

.form__inputs input:checked + label {
  color: #315dfa;
}

.form__inputs input:checked + label::before {
  -webkit-box-shadow: inset 0 0 0 2px white;
          box-shadow: inset 0 0 0 2px white;
}

.form__inputs-select {
  position: relative;
}

.form__inputs-select img {
  position: absolute;
  width: 15px;
  height: 8px;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.form__send-button {
  margin: 13px auto 0 auto;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  width: 186px;
  height: 45px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #315dfa;
  border: 1px solid #315dfa;
  color: white;
  cursor: pointer;
  -webkit-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
}

.form__send-button.call {
  width: 100%;
  padding: 0 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.form__send-button.call img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-450%);
      -ms-transform: translateX(-450%);
          transform: translateX(-450%);
}

.form__send-button:hover {
  background: #355adf;
}

.form__send-button:active {
  -webkit-box-shadow: 0px 4px 10px 0px #00000059 inset;
          box-shadow: 0px 4px 10px 0px #00000059 inset;
  -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
          transform: scale(0.99);
}

.answers-objects {
  position: fixed;
  top: 0;
  min-width: 100%;
  min-height: 100vh;
  height: 100%;
  background: rgba(255, 255, 255, 0.777);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 20;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.answers-objects .table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border: 3px solid;
}

.answers-objects .question,
.answers-objects .answer {
  background: white;
  border: 1px solid;
}

.answers-objects .question p,
.answers-objects .answer p {
  padding: 10px 30px;
}

.answers-objects .question p:first-child,
.answers-objects .answer p:first-child {
  background: #c5e3ee;
  border-bottom: 3px solid;
}

.answers-objects__close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.answers-objects__close-button:hover {
  -webkit-transform: rotate(90deg) scale(1.5);
      -ms-transform: rotate(90deg) scale(1.5);
          transform: rotate(90deg) scale(1.5);
}

.answers-objects__close-button-line {
  width: 100%;
  height: 2px;
  background: black;
  position: absolute;
  top: 15px;
}

.answers-objects__close-button-line:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.answers-objects__close-button-line:nth-child(2) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.footer {
  margin-top: 15px;
  overflow-y: scroll;
  height: 23px;
  color: #d6d6d6;
}

.footer p {
  font-size: 10px;
  text-transform: lowercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer p:last-child {
  font-size: 6px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}

.footer::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0);
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@-webkit-keyframes loading1 {
  to {
    left: calc(-100% + 1 * (100% / 7));
  }
}

@keyframes loading1 {
  to {
    left: calc(-100% + 1 * (100% / 7));
  }
}

@-webkit-keyframes loading2 {
  to {
    left: calc(-100% + 2 * (100% / 7));
  }
}

@keyframes loading2 {
  to {
    left: calc(-100% + 2 * (100% / 7));
  }
}

@-webkit-keyframes loading3 {
  to {
    left: calc(-100% + 3 * (100% / 7));
  }
}

@keyframes loading3 {
  to {
    left: calc(-100% + 3 * (100% / 7));
  }
}

@-webkit-keyframes loading4 {
  to {
    left: calc(-100% + 4 * (100% / 7));
  }
}

@keyframes loading4 {
  to {
    left: calc(-100% + 4 * (100% / 7));
  }
}

@-webkit-keyframes loading5 {
  to {
    left: calc(-100% + 5 * (100% / 7));
  }
}

@keyframes loading5 {
  to {
    left: calc(-100% + 5 * (100% / 7));
  }
}

@-webkit-keyframes loading6 {
  to {
    left: calc(-100% + 6 * (100% / 7));
  }
}

@keyframes loading6 {
  to {
    left: calc(-100% + 6 * (100% / 7));
  }
}

@-webkit-keyframes loading7 {
  to {
    left: calc(-100% + 7 * (100% / 7));
  }
}

@keyframes loading7 {
  to {
    left: calc(-100% + 7 * (100% / 7));
  }
}

@-webkit-keyframes blinking {
  to {
    opacity: 0.3;
  }
}

@keyframes blinking {
  to {
    opacity: 0.3;
  }
}
